<div class="container">

   <div>
      <div class="md-form mt-3">
          <input type="text" id="title" class="form-control" (keyup.enter)="createPost(title)" #title>
          <label for="title">Title</label>
      </div>
      <div class="md-form">
          <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
          <label for="materialContactFormMessage">Body</label>
      </div>
   </div>

  <div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr> 
          <th scope="col">Title</th >
          <th scope="col">Body</th>
          <th class="text-center">Update</th>
          <th class="text-center">Remove</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.title}}</td>
          <td>{{post.body}}</td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-indigo  btn-sm my-0" (click)="updatePost(post)">Update</button></span>
          </td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger  btn-sm my-0" (click)="deletePost(post)">Delete</button></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>